*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik",sans-serif;
}
body{
    height: 100%;
    background: #444444;
}
.container{
    background-color: #ffffff;
    width: 400px;
    padding: 35px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    box-shadow: 15px 30px 35px rgba(0,0,0,0.1);
    border-radius: 10px;
    -webkit-perspective: 300px;
    perspective: 300px;
}
.stats{
    display: flex;
    color: #101020;
    font-weight: 500;
    padding: 0;
    margin-bottom: 40px;
    /* margin-top: 55px; */
    box-shadow: 0 0 20px rgba(0,0,0,0.25);

}
.stats p {
    width: 50%;
    padding-top:12px;
    padding-bottom:12px;
    margin:0;
}
.stats p.izq {
    margin-left: 20px;
    text-align: left;
}
.stats p.der{
  margin-right: 20px;
  text-align: right;
}
.stats p.ctr {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 25px;
    text-align: center;
}
big {
    vertical-align: middle;
    height: 28px;
    line-height: 18px;
    font-size: 28px;
}
#porcentaje {
  text-align:center;
}
.coin{
    height: 250px;
    width: 250px;
    position: relative;
    margin: 32px auto;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}
.coin img{
    width: 245px;
}
.heads,.tails{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}
.tails{
    transform: rotateX(180deg);
}
@keyframes spin-tails{
    0%{
        transform: rotateX(0);
    }
    100%{
        transform: rotateX(1980deg);
    }
}
@keyframes spin-heads{
    0%{
        transform: rotateX(0);
    }
    100%{
        transform: rotateX(2160deg);
    }
}
.buttons{
    display: flex;
    justify-content: space-between;
}
button{
    width: 150px;
    padding: 15px 0;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
#flip-button{
    background-color: #053469;
    color: #ffffff;
}
#flip-button:disabled{
    background-color: #e1e0ee;
    border-color: #e1e0ee;
    color: #101020;
}
#reset-button{
    background-color: #674706;
    color: white;
}
.ctr {
    width:150px;
}
progress#pbi {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    width: 50%;
    height: 10px;
    background-color: transparent;
    direction: rtl;
}
progress#pbi::-moz-progress-bar {
    background: #ff2200;
}
progress#pbd {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    width: 50%;
    height: 10px;
    background-color: transparent;
}
progress#pbd::-moz-progress-bar {
    background: #7fff00;
}
progress::-webkit-progress-bar {
    background: transparent;
}
progress#pbi::-webkit-progress-value {
    background: #ff2200;
}
progress#pbd::-webkit-progress-value {
    background: #7fff00;
}